<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title><%= title%></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs')%>
    <h1>Hello greeting from Home Page</h1>

    <p>This file send from index.html page</p>
  </body>
</html>
